.home-page{ 
  padding:0 9.18vw;
  height:72vh;
  overflow-y: auto;
}

.home-page .habit{
  background-color:#052137;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:10px;
  border-radius: 10px;
  position:relative;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.home-page .habit .icon{
  margin-left:15px;
  height:48px;
}

.home-page .habit p:last-child{
  margin-right:15px;
}

.scaled{
  transform:scale(1.2) !important;
  z-index:1;
}