form{
  margin-top:5vh;
  display:flex;
  flex-direction: column;
  width:100%;
}

form input{
  width:100%;
  margin-bottom:28px;
  border:none;
  border-bottom:1px solid white;
  background:none;
  font-size:16px;
  color:white;
  outline:none;
}

form textarea{
  width:100%;
  min-height:20vh;
  margin-bottom:28px;
  border:none;
  border-bottom:1px solid white;
  background:none;
  font-size:16px;
  color:white;
  outline:none;
  font-family:Arial, Helvetica, sans-serif;
}

form button{
  border:none;
  border-radius:80px;
  padding:10px;
  font-size:16px;
  color:white;
  background-color:#052137;
  outline:none;
}

::placeholder{
  color:white;
}

form .swiper-container{
  width:100%;
  margin-bottom:28px;
}

form .swiper-slide{
  transform:scale(0.8);
  opacity:0.51;
}

form .swiper-slide-active{
  transform:scale(1);
  opacity:1;
}